@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
 --primary-color: #be123c;
 --bg-color: #141414;
 --bg-color-transparent: #00000065;
 --primary-text-color: #fff;
 --h1: 32px;
 --h2: 24px;
}

*,
*::after,
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 list-style-type: none;
 color: var(--primary-text-color);
 text-decoration: none;
}

body,
html {
 height: 100%;
}

body {
 background-color: var(--bg-color);
}

.container {
 padding: 15px;
 max-width: 1000px;
 margin: 0 auto;
 height: 100%;
}

/* Main styles */
nav {
 display: flex;
 justify-content: center;
 position: relative;
}

.top-nav {
 display: flex;
 flex: 1;
 align-items: center;
 justify-content: space-between;
 background-color: var(--bg-color-transparent);
 margin: -15px;
 padding: 15px;
}

.top-nav > div {
 flex: 1;
}

.top-nav input {
 border: 1px solid var(--primary-text-color);
 border-radius: 5px;
 outline: none;
 width: 100%;
 background-color: var(--bg-color-transparent);
 padding: 5px;
 height: 35px;
 display: none;
}

.top-nav .actions {
 display: flex;
 justify-content: flex-end;
 gap: 10px;
}

.nav-island {
 position: fixed;
 bottom: 20px;
 display: flex;
 align-self: center;
 max-width: 500px;
 width: fit-content;
 background-color: var(--primary-color);
 padding: 10px 20px;
 border-radius: 10px;
 height: fit-content;
}

.nav-island ul {
 display: flex;
 gap: 15px;
}

.active {
 text-decoration: underline;
}

/* Main sections */
main {
 margin-top: 40px;
}

section {
 margin: 20px 0;
}

section h2 {
 margin-bottom: 15px;
}

section.new-release h1 {
 font-size: var(--h1);
 margin-bottom: 10px;
}

section.new-release > div {
 flex: 1;
 position: relative;
 display: flex;
 flex-direction: column;
 height: 200px;
}

section.new-release > div .movie-poster {
 border-radius: 10px;
 max-width: 100%;
 max-height: 100%;
 object-fit: cover;
 object-position: 20% 10%;
}

section.new-release .movie-info {
 position: absolute;
 bottom: 20%;
 left: 5%;
 font-size: 24px;
 line-height: 1;
}

section.new-release .movie-info .rating {
 height: 15px;
}

section.new-release .movie-info p:last-of-type {
 font-size: 12px;
 font-weight: 200;
}

section.new-release > div .movie-price {
 position: absolute;
 font-size: 24px;
 bottom: 5px;
 right: 5px;
}

/* Continue watching section */
section.continue-watching {
 display: flex;
 flex-direction: column;
}

section.continue-watching p {
 font-size: 15px;
}
section.continue-watching p:hover {
 text-decoration: underline;
}

section.continue-watching h2 {
 font-size: var(--h2);
 margin-bottom: 10px;
}

.continue-watching__movies {
 display: flex;
 overflow: scroll;
 gap: 20px;
}

.movies__container:hover {
 cursor: pointer;
}

.movies__container > div {
 width: 220px;
 height: 140px;
 display: flex;
 flex-direction: column;
}

.movies__container > div img {
 border-radius: 10px;
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
}

.movies__container p {
 margin-top: 5px;
 font-size: 12px;
}

.discover.continue-watching__movies {
 display: flex;
 flex: 1;
 flex-wrap: wrap;
 justify-content: center;
}

section.discover .discover .movies__container {
 display: flex;
 flex-direction: column;
 width: fit-content;
}

section.discover p {
 font-size: 15px;
}

section.discover p:hover {
 text-decoration: underline;
}

@media screen and (min-width: 720px) {
 header {
  margin-bottom: 100px;
 }

 .top-nav input {
  display: flex;
 }

 .nav-island {
  position: absolute;
  top: 100px;
 }

 section.new-release > div {
  height: 400px;
 }
}

/* FOOTER */

footer {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 background-color: var(--purple);
 padding: 20px;
 width: 100%;
 bottom: 0;
 left: 0;
 color: white;
}

.left-footer {
 display: flex;
 flex-direction: row;
 align-items: left;
 margin-inline: 20px;
}

.center-footer {
 text-align: center;
 margin: 15px 32px 10px 10px;
}

.center-footer h2 {
 margin: 0;
}

.center-footer p {
 margin: 5px 0 0;
 font-size: 14px;
}

.right-footer {
 text-align: left;
}

.right-footer p {
 margin: 0;
}

.right-footer p i {
 margin-right: 5px;
}

.right-footer ul {
 list-style: none;
 margin: 0;
 padding: 10px;
}

.right-footer li {
 font-size: 14px;
 margin-bottom: 5px;
}

.right-footer li span {
 font-weight: 300;
}

@media screen and (max-width: 750px) {
 footer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
 }

 .left {
  margin-bottom: 10px;
 }

 .left button {
  font-size: 14px;
 }

 .right p {
  font-size: 14px;
 }

 .right li {
  font-size: 12px;
 }
}

/* Top 10 */

.movie-info-gif {
 position: absolute;
 bottom: 10%;
 left: 1%;
 font-size: 24px;
 line-height: 1, 5;
}

.movie-info-gif p:last-of-type {
 font-size: 12px;
 font-weight: 200;
}

section.continue-watching h1 {
 margin-bottom: 10px;
}

/* PRODUCT PAGE */

.product-wrapper {
 display: flex;
 height: 390px;
 margin-top: 75px;
 margin-bottom: 80px;
 align-items: center;
 justify-content: center;
}

.product-card {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 160px;
 height: 100%;
 border-radius: 10px;
 background-color: var(--primary-color);
}

.product-content-container {
 width: 420px;
 display: flex;
 flex-direction: column;
 gap: 15px;
 border-radius: 10px;
 padding: 10px;
}

.filmcover-product {
 width: 313px;
 height: 494px;
 border-radius: 10px;
}

.price-product {
 font-size: 2rem;
 margin: 0px;
}

.price-cta-container {
 display: flex;
 justify-content: space-between;
 gap: 130px;
 width: 391px;
}

.cta {
 right: 10%;
 bottom: 14%;
 background-color: black;
 padding: 8px;
 border-radius: 10px;
}
