body {
  margin: 0;
  line-height: normal;
}
.your-account {
  position: relative;
  font-weight: 500;
}
.vuesaxtwotonesetting-2-icon {
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.vuesaxtwotonesetting-2-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  cursor: pointer;
}
.help-support {
  position: relative;
  font-size: var(--btn-size);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--ffffff-white);
  text-align: left;
}
.vuesaxtwotonesecurity-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.your-account-parent {
  position: absolute;
  top: 480px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.menu {
  position: relative;
  font-size: 12.8px;
  font-weight: 500;
}
.vuesaxtwotonecategory-parent {
  border-right: 2px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 358px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 200px var(--padding-sm) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  cursor: pointer;
}
.movies {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.vuesaxtwotoneradio-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menu-parent {
  position: absolute;
  top: 105px;
  left: 32px;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.sidebar-child,
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  position: absolute;
  height: 9.7%;
  width: 100%;
  top: 0;
  right: -0.26%;
  bottom: 90.3%;
  left: 0.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  height: 5.06%;
  width: 11.03%;
  top: 4.22%;
  right: 79.22%;
  bottom: 90.72%;
  left: 9.75%;
}
.vector-icon30,
.vector-icon31 {
  height: 0.61%;
  width: 1.34%;
  top: 5.48%;
  right: 80.94%;
  bottom: 93.92%;
  left: 17.73%;
  opacity: 0.9;
}
.vector-icon31 {
  width: 1.33%;
  top: 5.89%;
  right: 86.37%;
  bottom: 93.5%;
  left: 12.3%;
}
.vector-icon32 {
  height: 2.37%;
  width: 2.37%;
  top: 6.68%;
  right: 90.71%;
  bottom: 90.95%;
  left: 6.92%;
}
.vector-icon32,
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33 {
  height: 2.34%;
  width: 1.89%;
  top: 6.7%;
  right: 66.91%;
  bottom: 90.96%;
  left: 31.2%;
  opacity: 0.9;
}
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  height: 2.31%;
  width: 2.75%;
  top: 6.72%;
  right: 81.76%;
  bottom: 90.97%;
  left: 15.49%;
}
.vector-icon35,
.vector-icon36 {
  width: 2.3%;
  right: 79.06%;
  left: 18.64%;
}
.vector-icon36 {
  width: 2.07%;
  right: 76.42%;
  left: 21.51%;
}
.vector-icon37,
.vector-icon38 {
  height: 2.29%;
  top: 6.72%;
  bottom: 90.98%;
  opacity: 0.9;
}
.vector-icon37 {
  position: absolute;
  width: 1.64%;
  right: 73.65%;
  left: 24.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38 {
  width: 2.22%;
  right: 71.19%;
  left: 26.59%;
}
.vector-icon38,
.vector-icon39,
.vector-icon40,
.vector-icon41 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39 {
  height: 2.29%;
  width: 1.66%;
  top: 6.72%;
  right: 69.15%;
  bottom: 90.98%;
  left: 29.19%;
  opacity: 0.9;
}
.vector-icon40,
.vector-icon41 {
  height: 2.11%;
  width: 5.13%;
  top: 6.54%;
  right: 14.36%;
  bottom: 91.35%;
  left: 80.51%;
  cursor: pointer;
}
.vector-icon41 {
  height: 2.43%;
  width: 6.15%;
  top: 6.43%;
  right: 23.59%;
  bottom: 91.14%;
  left: 70.26%;
}
.akar-iconscross3 {
  position: absolute;
  top: 61px;
  left: 350px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.instagram-icon3,
.twitter-icon3,
.vector-icon42,
.youtube-icon3 {
  position: absolute;
  height: 2.85%;
  width: 8.46%;
  top: 72.68%;
  right: 64.62%;
  bottom: 24.47%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-icon3,
.twitter-icon3,
.youtube-icon3 {
  height: 3.24%;
  width: 8.87%;
  right: 33.44%;
  bottom: 24.08%;
  left: 57.69%;
  object-fit: cover;
}
.instagram-icon3,
.twitter-icon3 {
  right: 43.8%;
  left: 47.33%;
}
.instagram-icon3 {
  right: 54.16%;
  left: 36.97%;
}
.news-letter-inner,
.news-letter2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.news-letter-inner {
  height: 100%;
  top: 0;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--color-gray-1500);
}
.news-letter2 {
  height: 21.94%;
  top: 78.06%;
}
.input2,
.join-our-newsletter2,
.subscribe2 {
  position: absolute;
  font-family: var(--font-inter);
}
.subscribe2 {
  top: 79.75%;
  left: 5.38%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.1px;
  line-height: 24px;
}
.input2,
.join-our-newsletter2 {
  width: 349px;
}
.input2 {
  border: 0;
  font-size: var(--font-size-lg);
  background-color: var(--color-gray-1600);
  top: 800px;
  left: 21px;
  border-radius: var(--br-3xl);
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.join-our-newsletter2 {
  top: calc(50% + 394px);
  right: 20px;
  line-height: 20px;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.sidebar {
  position: relative;
  background-color: var(--color-gray-1700);
  width: 390px;
  height: 948px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--btn-size);
  color: var(--ffffff-white);
  font-family: var(--font-work-sans);
}
